@import '../../styles/colors';

.authorization {
  display: block;

  &_processing {
    align-items: center;
    background-color: var(--color-neutral-white);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100vw;

    &_container {
      display: block;
      text-align: center;
    }

    &__title,
    &__description {
      margin: 0;
      padding: 0;
    }

    &__title {
      color: var(--color-neutral-black);
    }

    &__description {
      color: var(--color-neutral-40);
    }
  }
}
