@import '../../styles/colors';

.authorization {
  display: block;

  &_processing {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--color-neutral-white);

    &_container {
      display: block;
      text-align: center;
    }

    &__title,
    &__description {
      padding: 0;
      margin: 0;
    }

    &__title {
      color: var(--color-neutral-black);
    }

    &__description {
      color: var(--color-neutral-40);
    }
  }
}
