:root {
  --color-neutral-white: #fff;
  --color-neutral-05: #f3f4f6;
  --color-neutral-10: #e5e7eb;
  --color-neutral-20: #d6d8de;
  --color-neutral-30: #b1b5bb;
  --color-neutral-40: #9a9ea5;
  --color-neutral-50: #7b7e86;
  --color-neutral-60: #696c73;
  --color-neutral-70: #505258;
  --color-neutral-80: #37383c;
  --color-neutral-90: #22242a;
  --color-neutral-black: #000;

  --color-primary-10: #edf5ff;
  --color-primary-20: #d6e4fe;
  --color-primary-30: #a7c7ff;
  --color-primary-40: #6fa3ff;
  --color-primary-50: #307fff;
  --color-primary-60: #0062ff;
  --color-primary-70: #0142d3;
  --color-primary-80: #022d9a;
  --color-primary-90: #001d6d;
  --color-primary-100: #014;
}
