:root {
  --color-neutral-white: #FFFFFF;
  --color-neutral-05: #F3F4F6;
  --color-neutral-10: #E5E7EB;
  --color-neutral-20: #D6D8DE;
  --color-neutral-30: #B1B5BB;
  --color-neutral-40: #9A9EA5;
  --color-neutral-50: #7B7E86;
  --color-neutral-60: #696C73;
  --color-neutral-70: #505258;
  --color-neutral-80: #37383C;
  --color-neutral-90: #22242A;
  --color-neutral-black: #000000;

  --color-primary-10: #EDF5FF;
  --color-primary-20: #D6E4FE;
  --color-primary-30: #A7C7FF;
  --color-primary-40: #6FA3FF;
  --color-primary-50: #307FFF;
  --color-primary-60: #0062FF;
  --color-primary-70: #0142D3;
  --color-primary-80: #022D9A;
  --color-primary-90: #001D6D;
  --color-primary-100: #001144;
}
