@import '../../styles/colors';

.main_page {
  display: block;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.main_page__header {
  display: block;
  margin-top: 32px;
  text-align: left;

  &_logo {
    vertical-align: top;
    margin-right: 24px;
  }

  &_item {
    font-size: 16px;
    font-family: Arial;
    display: inline-block;
    vertical-align: top;
    padding: 12px 24px;
    color: var(--color-neutral-50);
    border-bottom: 1px solid var(--color-neutral-30);
    cursor: pointer;
    text-align: left;

    &:hover,
    &:first-of-type {
      padding-bottom: 11px;
      color: var(--color-primary-50);
      border-bottom: 3px solid var(--color-primary-50);
    }
  }
}

.main_page__search {
  display: block;
  margin: 24px auto;
  box-sizing: border-box;

  &_input {
    font-size: 16px;
    width: 80%;
    padding: 12px;
    outline: none;
    border: 1px solid #aaa;
  }

  &_button {
    font-weight: bold;
    font-size: 16px;
    vertical-align: top;
    width: 15%;
    height: 44px;
    margin-left: 13px;
    color: var(--color-neutral-white);
    background-color: var(--color-primary-40);
    border: none;
    cursor: pointer;
  }
}

.main_page__catalogue {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &_item {
    font-family: Arial;
    display: inline-block;
    width: 210px;
    margin: 5px;
    padding: 24px;
    color: var(--color-primary-40);
    border: 1px solid var(--color-neutral-20);
    cursor: pointer;

    &_icon {
      font-size: 40px;
      max-width: 150px;
      height: 40px;
      margin: 4px auto 0;
      text-align: center;
    }

    &_title {
      text-align: center;
    }
  }
}
